body {
  font-family: "Comic Sans MS", "Comic Sans";
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, rgb(255, 123, 0), rgb(255, 217, 0));
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button:empty {
  display: none;
}

.button {
  margin: auto;
  padding: 0.4rem 1rem;
  border: 2px solid black;
  width: 15rem;
}
.button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
}

section {
  border: 2px solid black;
  padding: 1rem;
  display: flex;
  margin: 0.25rem;
}
section:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.4);
}
section.singlePuppy:hover {
  cursor: default !important;
  background: rgba(255, 255, 255, 0.4);
}

img {
  width: 15rem;
}
